version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: fellor_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root123
      POSTGRES_DB: fellor
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: